{% extends "base.html" %}

{% load  static %}


{% block css %}
  
{% endblock css %}
  
{% block title %}
  Inicio de Sesión
{% endblock title %}
  
{% block content %}

<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form class="login100-form validate-form p-l-55 p-r-55 p-t-178 " method="POST" > {% csrf_token %}
        <span class="login100-form-title">
          Iniciar Sesión
        </span>

        <div class="wrap-input100 validate-input">
        
          <div class="input-group">
            <span  class="input-group-label "><i class="fi-mail"></i></span>

            {{form.email}}
            
          </div>
        </div>

        <div class="wrap-input100 validate-input">
        
          <div class="input-group">
            <span  class="input-group-label "><i class="fi-lock"></i></span>

            {{form.password}}
            
          </div>
        </div>

        <div class="container-login100-form-btn">
          <button type="submit" class="login100-form-btn">
            Ingresar
          </button>
          

        </div>

        <div class="flex-col-c p-t-170 p-b-40">
          <span class="txt1 p-b-9">
           Si olvido su 
          </span>

          <a href="#" class="txt2">
          Correo / Contraseña?
          </a>

          <span class="txt1 p-b-9">
            contacte con soporte
          </span>

        </div>

      
      </form>
    </div>
  </div>
</div>



{% endblock content %}